{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      rel="shortcut icon"
      href='{% static "ESM.png"%}'
      type="image/x-icon"
    />
    <title>Server Error - 404</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-size: 1.1rem;
    }
    #bad-req {
      font-weight: bolder;
      font-size: 5.2rem;
      margin-top: 5%;
    }
    p {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
  </style>
  <body>
    <center>
      <p id="bad-req">404</p>
      <span class="material-symbols-outlined" style="font-size: 10.3rem">
        sentiment_dissatisfied
      </span>
      <p>User not found!!</p>
      <p>The resource requested could not be found on this server!</p>
    </center>
  </body>
</html>
